@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

$primary: #9547ea;
$bg-color: #282c34;
$light-dark: lighten($bg-color, 10%);
$text-light: #d8dede;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$breakpoints: (
        "sm": $sm,
        "md": $md,
        "lg": $lg,
        "xl": $xl
) !default;



body {
  background-color: #282c34;
  color: $text-light;
  font-family: 'Nunito', sans-serif;

}

// Header
#header{
  padding-top: 8px;
  padding-bottom: 8px;
  .header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $primary;
    .header{
      &__menu{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        &__item{
          margin-left: 15px;
          &__link{
            color: $text-light;
            text-decoration: none;
            &.active{
              color: $primary;
              font-weight: 600;
            }
          }
        }
      }
      &__title{
        font-size: 26px;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

// Country List
.country-list{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
      font-size: 24px;
    }
    &__input{
      padding: 4px 8px;
      height: 30px;
      width: 200px;
      border-radius: 10px;
      border: none;
      font-size: 18px;
    }
  }
}

.country-card{
  margin-bottom: 40px;
  border-bottom: 1px solid $light-dark;
  &__link{
    display: block;
    padding-bottom: 8px;
    color: $text-light;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover{
      background: lighten($bg-color, 5%);
    }
  }
  &__img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light-dark;
    height: 115px;
    &__img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
  &__title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 6px;
    text-align: center;
  }
  &__badges{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__badge{
      display: inline-block;
      font-size: 14px;
      background: $light-dark;
      border-radius: 6px;
      padding: 4px 8px;
      margin: 4px 8px 4px 0;
    }
  }
}

.country{
  &__header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__title{
      margin-top: 0;
      &__name{
        position: relative;
        font-size: 50px;
        font-weight: 600;
        &:after{
          position: absolute;
          content: "";
          left: 0;
          top: 100%;
          width: 70%;
          height: 4px;
          border-radius: 10px;
          background: linear-gradient(to right, white 50%, $bg-color);
        }
      }
      &__info{
        margin-left: 30px;
        font-size: 18px;
        > * {
          font-weight: 400;
          margin-right: 15px;
        }
      }
    }
    &__flag-wrapper{
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      z-index: -4;
      max-width: 70vw;
      pointer-events: none;
      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 15%;
        background: linear-gradient(90deg, $bg-color 10%, transparent);
        z-index: 1;
      }
      img{
        position: relative;
        display: inline-block;
        height: 100%;
        opacity: 0.1;
      }
    }
  }
}

.converter{
  margin-bottom: 50px;
  border-left: 6px solid $primary;
  padding-left: 15px;
  &__title{
    font-size: 35px;
  }
  &__currency{
    &__title{
      &__arrow{
        margin: 0 6px;
        font-size: 20px;
      }
    }
    &__wrapper{
      display: flex;
      align-items: center;
    }
    &__input{
      &__code{
        font-weight: 600;
      }
      &__input {
        margin-right: 4px;
        padding: 4px 8px;
        font-size: 20px;
        width: 150px;
        background: $bg-color;
        color: $text-light;
        border: 2px solid $light-dark;
        border-radius: 15px;
        outline: none;
        &:active, &:focus{
          border-color: $primary;
        }
      }
    }
    &__arrow{
      font-size: 30px;
      margin: 0 10px;
    }
    &__result{
      font-size: 30px;
    }
  }
}
// Utils
.badge{
  display: inline-block;
  font-size: 14px;
  background: $light-dark;
  border-radius: 6px;
  padding: 4px 8px;
}
