@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
body {
  background-color: #282c34;
  color: #d8dede;
  font-family: "Nunito", sans-serif;
}

#header {
  padding-top: 8px;
  padding-bottom: 8px;
}
#header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9547ea;
}
#header .header-wrapper .header__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#header .header-wrapper .header__menu__item {
  margin-left: 15px;
}
#header .header-wrapper .header__menu__item__link {
  color: #d8dede;
  text-decoration: none;
}
#header .header-wrapper .header__menu__item__link.active {
  color: #9547ea;
  font-weight: 600;
}
#header .header-wrapper .header__title {
  font-size: 26px;
  margin: 0;
  text-transform: uppercase;
}

.country-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.country-list__header__title {
  font-size: 24px;
}
.country-list__header__input {
  padding: 4px 8px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.country-card {
  margin-bottom: 40px;
  border-bottom: 1px solid #3e4451;
}
.country-card__link {
  display: block;
  padding-bottom: 8px;
  color: #d8dede;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.country-card__link:hover {
  background: #333842;
}
.country-card__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e4451;
  height: 115px;
}
.country-card__img-wrapper__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.country-card__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 6px;
  text-align: center;
}
.country-card__badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.country-card__badges__badge {
  display: inline-block;
  font-size: 14px;
  background: #3e4451;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
}

.country__header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.country__header__title {
  margin-top: 0;
}
.country__header__title__name {
  position: relative;
  font-size: 50px;
  font-weight: 600;
}
.country__header__title__name:after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 70%;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(to right, white 50%, #282c34);
}
.country__header__title__info {
  margin-left: 30px;
  font-size: 18px;
}
.country__header__title__info > * {
  font-weight: 400;
  margin-right: 15px;
}
.country__header__flag-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -4;
  max-width: 70vw;
  pointer-events: none;
}
.country__header__flag-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background: linear-gradient(90deg, #282c34 10%, transparent);
  z-index: 1;
}
.country__header__flag-wrapper img {
  position: relative;
  display: inline-block;
  height: 100%;
  opacity: 0.1;
}

.converter {
  margin-bottom: 50px;
  border-left: 6px solid #9547ea;
  padding-left: 15px;
}
.converter__title {
  font-size: 35px;
}
.converter__currency__title__arrow {
  margin: 0 6px;
  font-size: 20px;
}
.converter__currency__wrapper {
  display: flex;
  align-items: center;
}
.converter__currency__input__code {
  font-weight: 600;
}
.converter__currency__input__input {
  margin-right: 4px;
  padding: 4px 8px;
  font-size: 20px;
  width: 150px;
  background: #282c34;
  color: #d8dede;
  border: 2px solid #3e4451;
  border-radius: 15px;
  outline: none;
}
.converter__currency__input__input:active, .converter__currency__input__input:focus {
  border-color: #9547ea;
}
.converter__currency__arrow {
  font-size: 30px;
  margin: 0 10px;
}
.converter__currency__result {
  font-size: 30px;
}

.default-currencies__currency {
  text-align: center;
  margin-bottom: 40px;
}
.default-currencies__currency__title {
  margin: 0;
}
.default-currencies__currency__name {
  margin: 0 0 8px 0;
  font-size: 16px;
  color: #859898;
}
.default-currencies__currency__button {
  padding: 6px 12px;
  background: none;
  border: 2px solid #3e4451;
  border-radius: 20px;
  color: #d8dede;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 150ms ease-in-out;
}
.default-currencies__currency__button:hover {
  background: #9547ea;
  border-color: #9547ea;
}

.badge {
  display: inline-block;
  font-size: 14px;
  background: #3e4451;
  border-radius: 6px;
  padding: 4px 8px;
}

/*# sourceMappingURL=App.css.map */
